<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>AlpSync - Yay!</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>


<style>
    #copyButton svg {
        color: white;
    }
</style>


<script>
function ccopy() {
    // Créer un élément textarea temporaire
    var textarea = document.getElementById("inputText");
    // Sélectionner le texte dans l'élément textarea
    textarea.select();
    // Exécuter la commande de copie
    document.execCommand('copy');

    alert("Text copied !");
}
</script>

<body class="bg-028090 text-02c39a" style="background-image: url(https://picsum.photos/1920/1080); background-size: cover;">
  <div class="flex justify-center items-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <img src="/logo.png" alt="Company logo" class="w-12 h-12" />
          <h1 class="text-2xl font-bold">AlpSync</h1>
        </div>
        <a href="/index.html" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500 ml-4">Upload another file</a>
      </div>
      <hr class="my-4" />
      <div>Your file {{.FileName}} has been successfully uploaded.</div>
      <div>Your file will remain accessible for {{.Duration}} days before being deleted.</div>
      <div class="mb-2">Your carbon footprint is {{.FootPrint}}g for {{.Duration}} days of storage.</div>
      <div>Here is your link :</div>
      <div class="flex items-center border border-gray-300 rounded-lg p-2">
        <input id="inputText" type="text" class="flex-grow border-none focus:outline-none" value="https://alpsync.pro/f/{{.FileId}}">
          <button id="copyButton" class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadoweoutline" onClick="ccopy()">Copy</button>
      </div>
    </div>
  </div>
  </body>

</html>
