<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>AlpSync - Yay!</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body class="bg-028090 text-02c39a" style="background-image: url(https://picsum.photos/1920/1080); background-size: cover;">
  <div class="flex justify-center items-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <img src="/logo.png" alt="Company logo" class="w-12 h-12" />
          <h1 class="text-2xl font-bold">AlpSync</h1>
        </div>
        <a href="/index.html" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500 ml-4">Upload another file</a>
      </div>
      <hr class="my-4" />
      <div>Your file {{.FileName}} has been successfully upload.</div>
      <div>Please note your file url : https://alpsync.pro/f/{{.FileId}} in order to retrieve it.</div>
      <div>Your carbon footprint is {{.FootPrint}}g for 14 days of storage.</div>
    </div>
  </div>
  </body>

</html>
